.center {
   margin: 0 auto;
   display: block;
}

#logInForm, #signUpForm{
   padding: 5px 0;
   margin-top:30px;
   margin-bottom: 20px;
   width: 340px;
   background: rgba(255,255,255,0.4);
   border-radius: 10px;
}

#logInFormContainer {
    text-align: center;
}

#logInForm input[type=text]{
   margin-top: 5px;
}

#logInForm input[type=submit]{
   width: 96px;
}

#messageList li > a:hover{
    background-color: grey;
}

#messageList li.active a{
    background-color: grey !important;
}

#messageList li.unread{
	background-color: blue;
}
